header {
    background-color: #4ea0ff;
    background-image: url('../img/pattern.png');
    padding-top: 80px;
}

#logo {
    height: 70px;
}

h1 {
    font-size: 40px;
}

.author {
    color: gray;
}

/* Selettori avanzati */
.author a {
    color: #4ea0ff;
    text-decoration: none;
}
.author div {
    font-size: 18px;
}

.capitions {
    font-size: 14px;
}